<?xml version="1.0" encoding="utf-8"?>
<manifest package="jiek.demo" xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- To auto-complete the email text field in the login form with the user's emails -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.READ_PROFILE"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	<application
		android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
		<activity android:name=".StartActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".StandardActivity" android:finishOnTaskLaunch="true"/>
		<activity
			android:name=".StandardBActivity" android:launchMode="standard"/>
		<activity android:name=".StandardCActivity"/>
		<activity
			android:name=".LoginActivity" android:launchMode="singleInstance"/>
		<activity
			android:name=".MainActivity" android:launchMode="singleTask" android:theme="@style/AppTheme.NoActionBar"/>
		<!-- android:finishOnTaskLaunch="true" android:alwaysRetainTaskState="true" -->
		<activity
			android:name=".SingleInstanceActivity" android:launchMode="singleInstance"/>
		<activity
			android:name=".SingleTaskActivity" android:launchMode="singleTask"/>
		<activity
			android:name=".SingleTopActivity" android:launchMode="singleTop"/>
		<activity
			android:name=".DialogActivity" android:theme="@style/Theme.AppCompat.Dialog.Alert"/>

		<service
			android:name=".service.MyIntentService" android:exported="false" android:process=":jiekI">
			<intent-filter>
				<action android:name="jiek.demo.abc"/>
				<action android:name="jiek.demo.action.FOO"/>
			</intent-filter>
		</service>
		<service
			android:name=".service.MyService" android:enabled="true" android:exported="true" android:process=":jiekS">
			<intent-filter android:priority="1000">
				<action android:name="jiek.demo.action.myservice"/>
			</intent-filter>
		</service>

		<receiver
			android:name=".service.BootReceiver" android:enabled="true" android:exported="true"/>
	</application>

</manifest>
